@font-face {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Raleway/woff/Raleway-Light.woff') format('woff'),
  url('../fonts/Raleway/woff2/Raleway-Light.woff2') format('woff2');
}

@font-face {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Raleway/woff/Raleway-LightItalic.woff') format('woff'),
  url('../fonts/Raleway/woff2/Raleway-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Raleway/woff/Raleway-Regular.woff') format('woff'),
  url('../fonts/Raleway/woff2/Raleway-Regular.woff2') format('woff2');
}

@font-face {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Raleway/woff/Raleway-Italic.woff') format('woff'),
  url('../fonts/Raleway/woff2/Raleway-Italic.woff2') format('woff2');
}

@font-face {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Raleway/woff/Raleway-SemiBold.woff') format('woff'),
  url('../fonts/Raleway/woff2/Raleway-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Raleway/woff/Raleway-SemiBoldItalic.woff') format('woff'),
  url('../fonts/Raleway/woff2/Raleway-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Raleway/woff/Raleway-Bold.woff') format('woff'),
  url('../fonts/Raleway/woff2/Raleway-Bold.woff2') format('woff2');
}

@font-face {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Raleway/woff/Raleway-BoldItalic.woff') format('woff'),
  url('../fonts/Raleway/woff2/Raleway-BoldItalic.woff2') format('woff2');
}